/* * {
    outline: 1px dotted red;
} */

h1 {
    padding-top: 30px;
    font-family: 'Noto Serif Oriya', serif;
}

hr {
    border: 1px solid grey;
}

#jokeDisplay {
    padding-bottom: 20px;
}

#sub-button {
    margin-top: 100px;
}

body{
    color: whitesmoke;
    background-color: rgb(58, 55, 55);
}

button{
    color: whitesmoke;
    background-color: black;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#copyright{
    margin-top: 470px;
}